/* type selectors */

article, aside, figure, footer, header, nav, section {
    display: block;
}
html {
	background-color: #858585;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    
	width: 1150px;
	box-shadow:  0 0 7px 5px #4B4B4B;
	margin: 15px auto;
	padding: 0;
	background-color: #FFFFB2;
	border-top-left-radius: 20px;
    	border-top-right-radius: 20px;
}

section, article, aside, h1, h2, p, ul {
	margin: 0;
	padding: 0;
}

section {
	margin-top: 1.5em;
	margin-bottom: 1em;
	margin-right: 30px;	
}

 
a  {  font-weight: bold;
     text-decoration: none;
}
a:link { color: #800000; }
a:visited { color: navy; }
a:hover, a:focus { color: blue; }

a.kindsofsheep { 
		font-weight: bold;
		text-decoration: none;
		font-size: 0.8em;
}

#countingsheep  { font-size: 0.8em;}  



/* the styles for the header */

header {
	background-color: #FFE6B2;
	padding-bottom: 2em;
        background: linear-gradient(to right, #FFE6B2, #FFC4A7);
	border-top-left-radius: 20px;
    	border-top-right-radius: 20px;
}

header h1 {
	font-size: 275%;
	font-family: "Lucida Handwriting", cursive;
	font-weight: bold;
    	color: white;
    	text-shadow: 2px 3px 0 black;
    	padding-top: .5em;
    	margin-left: 25px;
	margin-bottom: 0.25em;
}
 
header h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 150%;
	margin-left: 100px;
        color: #AF3E19;
        

}
	

/* the styles for the navigation bar */
#nav_bar {margin-left: 50px;} 

#navmenu{

 position:absolute;



}
#navmenu,#navmenu li, ul.sub1 {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
   

}

#navmenu li{
        width:190px;
        text-align: center;
        position: relative;
        float: left;
        margin-right: 4px;

}

#navmenu a{
       text-decoration: none;
       display: block;
       width: 190px;
       height: 35px;
       line-height: 35px;
      background-color:#A24545  ;
       color: white;
       border-radius: 3px;
       border: 1px solid #FFFFB2;

}

#navmenu .sub1 li{
       border: 1px;

}

#navmenu .sub1 a{
      margin-top: 0px;

}

#navmenu li:hover > a{
      background-color:#D68533;

}

#navmenu li:hover a:hover{

      background-color:#FFCC99;
}

#navmenu .sub1{
      display: none;
           
}

#navmenu li:hover .sub1{
      display: block;

}

.darrow{
   font-size: 9pt;
   color: white;
   position:absolute;
   top: 5px;
   right: 4px;

}
#navmenu a.current { color: #FFFFB2; }
 
 


/* the styles for the section */

section {
	-moz-column-count: 2;/* Firefox */
    -webkit-column-count: 2;/* Safari and Chrome */
    column-count: 2;
	width: 980px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}

section h1 {
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 0.8em;
	color: #800000;
}

section strong { 
	 
	color: #005000;
 }

#carousel {
	margin: 10px 0;
	padding: 0;
	width:450px;
	height :150px;
	float: left;
	margin: 0 1.5em 0.3em 0;
	 
}
.button	{
	margin: 45px 10px 0 10px;
	float: left;
	height: 25px;
	width: 25px;
	 
}
.panel {
	margin: 0;
	overflow: hidden;
	position: relative;
	float: left;
	width: 300px;
	height: 150px;
	 
}
.panel-inner {
	left: 0;
    position: absolute;
    height: 150px;
    list-style: none;
    margin: 0;
    padding: 0
}
.panel-inner li	{
	text-align: center;
	padding: 0;
	margin: 1px 1px 0 0;
	float: left;
	width: 150px;
	height: 150px;
	 
}
.panel-inner li img	{
	width: 150px;
	margin: 1px 0 0 1px
}
 
 

 


/* the styles for the footer */

footer {
	clear: both;
	padding-top: 1em;
	background-color: #FFE6B2;
	}
footer p {
	font-size: 80%;
	color: #AF3E19;
	margin-left: 25px;
	padding-bottom: 1em;
}